        .hamburgerMenu {
            display: none;
        }
        
        .header {
            overflow: hidden;
            border-bottom: 2px solid #BACAC6;
        }
        
        .responsive {
            width: 50%;
            max-width: 300px;
            height: auto;
            position: sticky;
            top: 13px;
            left: 24px;
        }
        
        .header a {
            float: left;
            color: #453539;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }
        
        .header a:hover {
            background-color: #CABABE;
            color: #453539;
        }
        
        .header a.active {
            background-color: dodgerblue;
            color: white;
        }
        
        .header-right {
            background-color: #BACAC6;
            float: right;
            position: static;
            margin-top: 45px;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        .footer {
            float: left;
            overflow: hidden;
        }
        
        footer {
            border-top: 2px solid #BACAC6;
        }
        
        .footer-left a {
            float: left;
            color: #453539;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }
        
        .footer-left a:hover {
            background-color: #CABABE;
            color: #453539;
        }
        
        .footer-left a.active {
            background-color: dodgerblue;
            color: white;
        }
        
        .footer-left {
            background-color: #BACAC6;
            float: right;
            position: static;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        .footerR {
            float: right;
            width: 10%;
            height: auto;
        }
        
        small {
            text-align: center;
            padding-left: 30%;
        }
        
        @media screen and (max-width: 500px) {
            .hamburgerMenu {
                display: block;
                float: right;
                position: relative;
            }
            .header-right {
                float: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .header-right a {
                color: #453539;
                font-size: 17px;
            }
            .responsive {
                width: 63%;
                height: auto;
            }
            .footerR {
                display: none;
            }
            .footer-left {
                float: left;
                padding: 0%;
            }
            .footer-left a {
                font-size: 14px;
            }
            small {
                font-size: 10px;
                padding: 0%;
            }
        }