.bg-img {
    background-image: url('./img/NavBar.png');
    min-height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

.container {
    position: relative;
    margin: 20px;
    top: 100px;
    left: 67.5%;
    width: auto;
}

.nav .active {
    color: #453539;
}

.nav .nav-item {
    color: #000;
}

#responsive {
    width: 100%;
    height: auto;
}

.grid {
    margin-top: 60px;
    margin-left: 550px;
    position: center;
    width: 60em;
}

.fbg-img {
    background-image: url('./img/Footer.png');
    min-height: 180px;
    background-position: bottom 0px left 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Fcontainer {
    position: relative;
    top: 110px;
    left: 6%;
    width: auto;
}

hr {
    width: 80%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
}